@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.text {
  color: #848789;
  font-size: 18px;
  line-height: 34px;
}

.header {
  height: 800px;
  background: url("../img/header__bg.jpg") center no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 0px 0px 0px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  padding: 33px 0px 0px 0px;
}

.menu__img {
  margin: 0px 64px 0px 64px;
}

.menu li {
  display: inline;
  padding: 0px 0px 0px 30px;
}

.menu li:first-child {
  padding: 0px;
}

.menu li a {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.block1 {
  background: #f7f7f7;
  padding: 117px 0px 142px 0px;
  text-align: center;
}

.block1__container {
  width: 1079px;
  margin: 0 auto;
}

.block1__ico {
  padding: 0px 0px 34px 0px;
}

.block1__title {
  padding: 0px 0px 35px 0px;
}

.block2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block2__left {
  background: url("../img/block2_img1.jpg") center no-repeat;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.666%;
          flex: 1 1 66.666%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.block2__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block2__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.666%;
          flex: 1 1 66.666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block2__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.footer {
  color: #848789;
  font-size: 14px;
  line-height: 17.87px;
  background-color: #f7f7f7;
}

.footer__container {
  max-width: 1101px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 99px 0px 103px 0px;
}

.footer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  font-style: italic;
}

.footer__text p:first-child {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}

.footer__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__socialico {
  padding: 0px 7.5px 0px 7.5px;
}

.footer__credits {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__by {
  padding: 11px 9px 0px 0px;
}
/*# sourceMappingURL=style.css.map */