// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body{
	font-family: Lato;
}
.menu{
	&__list{
		text-align: center;
	}
	&__list li{
		display: inline;
		padding: 0 0 0 35px;
	}
	&__list li:first-child{
		padding: 0 0 0 0;
	}
	&__item{
		color: #3c3c3c;
		font-size: 15px;
		font-weight: 400;
		text-transform: uppercase;
		font-weight: 400;
	}
	&__active{
		color: #ada074;
	}
}
.title {
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 8.95px;
	position: relative;
	text-align: center;
	padding: 0px 0px 30px 0px;
	&:after{
		content:'';
		position: absolute;
		width: 50px;
		bottom: 0;
		height: 1px;
		left: 50%;
		background-color: #000;
		margin: 0px 0px 0px -25px;
	}
}
.button{
	display: block;
	height: 47px;
	width: 182px;
	padding: 16px 0 0;
	text-align: center;
}
.header{
	margin: 0 auto;
	max-width: 1920px;
	&__body{
		height: 1080px;
		padding: 165px 0 0;
		background: url("../img/header/BG-Header.png") center no-repeat;
	}
	&__logo a{
		display: block;
		width: 195px;
		height: 123px;
		background: url("../img/header/logo.png") no-repeat;
		margin: 0 auto 159px;
	}
	&__title{
		color: #ffffff;
		font-size: 34px;
		line-height: 40px;
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 5.43px;
		text-align: center;
		padding: 0 0 40px 0;
	};
	&__title:after{
		background-color: #fff;
		width: 105px;
		margin: 0px 0px 0px -52px;
	}
	&__title span{
		font-family: Lato;
		font-size: 26px;
		font-weight: 400;
		letter-spacing: 4.15px;
	}
	&__button{
		margin: 0 0 75px;
	
	};
	&__button a{
		margin: 228px auto 0;
		border: 1px solid #fff;
		color: #fff;	
	}
	
	&__icodown a{
		display: block;
		height: 10px;
		width: 17px;
		margin: 0 auto;
		background: url("../img/header/Arrow-down.png") no-repeat;
	}
}

.mainmenu{
	margin: 0 auto ;
	max-width: 1920px;
	&__body{
		height: 58px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
}
.about {
	margin: 0 auto;
	max-width: 1920px;
	&__body {
		max-width: 823px;
		margin: 130px auto 0;
	}
	&__header {
		margin: 0px 0px 65px 0px;
	}
	&__title {
		margin: 0px 0px 30px 0px;
	}
	&__text {
		max-width: 688px;
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		line-height: 25.89px;
		margin: 0px auto;
	}
	&__row {
		display: flex;
		font-size: 0;
		margin: 0px -15px;
	}
	&__column {
		padding: 0px 15px 95px;
		flex: 0 0 33.333%;
	}
}

.item-about {
	&__icon {
		margin: 0px auto 40px auto;
		border-radius: 50%;
		width: 92px;
		height: 92px;
		border: 2px solid #f1f1f1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__title {
		text-align: center;
		color: #000000;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 3.52px;
		margin: 0px 0px 35px 0px;
	}
	&__text {
		text-align: center;
		color: #868585;
		line-height: 26px;
		font-weight: 300;
		font-size: 14px;
	}
}
.portfolio{
	margin: 0 auto;
	max-width: 1920px;	
	background: #f3f3f3;
	padding: 107px 0 0 0;
	&__body{	
	}
	&__header{
	}
	&__title{}
	&__menu{
		margin: 51px 0 136px;
	}
	&__items{
		display: flex;
	}
	&__item{
		display: block;
		height: 365px;
		width: 538px;
		background: #eaeaea;
	}
	&__button a{
		margin: 0 auto 0;
		border: 1px solid #000;
		color: #000;
	}
}


