// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body{
	font-family: Lato;
}
.title {
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 8.95px;
	position: relative;
	text-align: center;
	padding: 0px 0px 30px 0px;
	&:after{
		content:'';
		position: absolute;
		width: 50px;
		bottom: 0;
		height: 1px;
		left: 50%;
		background-color: #000;
		margin: 0px 0px 0px -25px;
	}
}
.header{
	margin: 0 auto;
	max-width: 1920px;
	&__body{
		height: 1189px;
		margin: -109px 0 0 -11px;
		padding: 0 0 0 10px;
		border-top: 1px solid #000;
		background: url("../img/header/BG-Header.png") center no-repeat;
	}
	&__logo{
		margin: 274px 0 159px;
	};
	&__logo a{
		display: block;
		width: 195px;
		height: 123px;
		background: url("../img/header/logo.png") no-repeat;
		margin: 0 auto;
	}
	&__title{
		color: #ffffff;
		font-size: 34px;
		line-height: 40px;
		text-transform: uppercase;
		font-family: "Lato Black";
		font-weight: 900;
		letter-spacing: 5.43px;
		text-align: center;
	};
	&__title:after{
		background-color: #fff;
	}
	&__title span{
		font-family: Lato;
		font-size: 26px;
		font-weight: 400;
		letter-spacing: 4.15px;
	}
	&__button{
		margin: 0 0 75px;
	};
	&__button a{
		display: block;
		margin: 278px auto 0;
		height: 47px;
		width: 182px;
		border: 1px solid #fff;
		text-align: center;
		color: #fff;
		padding: 16px 0 0;
	}
	&__icodown a{
		display: block;
		height: 10px;
		width: 17px;
		margin: 0 auto;
		background: url("../img/header/Arrow-down.png") no-repeat;
	}
}
.about {
	&__body {
		max-width: 823px;
		margin: 0px auto;
	}
	&__header {
		margin: 0px 0px 65px 0px;
	}
	&__title {
		margin: 0px 0px 30px 0px;
	}
	&__text {
		max-width: 688px;
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		line-height: 25.89px;
		margin: 0px auto;
	}
	&__row {
		display: flex;
		font-size: 0;
		margin: 0px -15px;
	}
	&__column {
		padding: 0px 15px;
		flex: 0 0 33.333%;
	}
}

.item-about {
	&__icon {
		margin: 0px auto 40px auto;
		border-radius: 50%;
		width: 92px;
		height: 92px;
		border: 2px solid #f1f1f1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__title {
		text-align: center;
		color: #000000;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 3.52px;
		margin: 0px 0px 35px 0px;
	}
	&__text {
		text-align: center;
		color: #868585;
		line-height: 26px;
		font-weight: 300;
		font-size: 14px;
	}
}
